body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	background: url('background.jpg') no-repeat center center fixed;
	background-size: cover;  
	width: 100%;
}

.wrapper { 
	margin-top: 40px;
    margin-left: auto;
	margin-right: auto;
	border-radius: 20px;	
	width: 500px;
}

.description {	
	padding-top: 20px;
    margin: 20px;
	line-height: 20px;
}

.headline {
	line-height: 1em;
	margin-bottom: 20px;
}

p {
	padding-bottom: 20px;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#processing_wrapper { 
    margin: auto;
	border-radius: 20px;	
	width: 500px;
}

#processing {
    padding-left:30px;
    padding-bottom:40px;
}
