body {
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 100%;
	background: url('../background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div {
	display: block;
}

#landing {
	margin: auto;
	padding: 60px 60px 0px 60px;
	width: 100%;
}

#left {
    padding: 20px;
	float: left;
	/*height: 534px; */
	width: 420px;
	background: rgba(0, 104, 139, 0.3); /* color of backdrop */
    
}

#logo {
	font-family: "Helvetica",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	float: left;
	line-height: 1em;
	margin-top: 0;
	margin-bottom: 60px; 
	color: #FBDC7C;

}

#headline { /* headline */
	clear: both;
	font-size: 80px;
	line-height: 1em;
	margin-top: 0;
	margin-bottom: 40px; 
	font-weight: bold;
	color: #FFF;
}

#blurb {
	font-size: 20px; 
	line-height: 24px; 
	margin-top: 0em;
	margin-bottom: 40px;
	color: #FFFBD5;
}

#iam { 
	float: right;
}

.links {
    font-size: 20px;
	margin: 0px;
}

.links li {
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
    
}

.links li a {
	color: #FBDC7C;
	text-decoration: none;
}

.links li a:hover {
	text-decoration: underline;
}
